<a href="https://api.whatsapp.com/send/?phone=9992235528"  class="w-14 aspect-square rounded-full fixed bottom-5 right-5 bg-[#26D366] grid place-items-center shadow-whats">
    <i class="ri-whatsapp-line text-4xl text-white"></i>
</a>