---
 interface Props {
    classes?:string,
    href:string,
    title:string
 }

 const { classes, href, title } = Astro.props
---

<a href={href} role="link" title={title} class={`py-3 px-8 font-medium bg-blue-main rounded-3xl text-base transition-opacity hover:opacity-90 text-white ${classes}`}>
    <slot/>
</a>

