---
import Button from "./Button.astro";
import Container from "./Container.astro";
---

<div class="hero">
    <Container>
        <div class=" py-[13rem] text-center text-white">
            <h1 class="text-[2rem] md:text-[2.875rem] max-w-[30ch] mx-auto font-normal leading-snug">
                Confiabilidad en Cada Reparación: <span class="hero__title--bold font-bold">Especialistas en Dispositivos Móviles</span>
            </h1>
            <p class="text-[#C8C8C8] mt-3 mb-7">
                Somos un servicio completo especializado en la reparación de
                teléfonos móviles.
            </p>
            <Button title="boton para ir al contacto" href="#contact">Contacto</Button>
        </div>
    </Container>
</div>
