---
interface Props {
    title: string;
    text: string;
    icon: string;
}

const { text, title, icon } = Astro.props;
---

<article class="card p-7 bg-white shadow-card ">
    <figure class="card__icon text-[1.25rem] w-[3rem] aspect-square rounded-full grid place-items-center bg-blue-main text-white">
        <i class={ icon}></i>
    </figure>
    <h3 class="card__title mt-4 mb-2 font-medium text-[1.5rem]">{title}</h3>
    <p class="card__copy text-[#888] font-normal text-sm font-secundary leading-relaxed">{text}</p>
</article>

